<!DOCTYPE html>
<html>

<head>
  <!-- Set the title of the page, dynamically using the shopName variable -->
  <title>About <%= shopName %>
  </title>
  <!-- Link to an external stylesheet (main.css) for styling -->
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Display a heading with the shopName variable -->
  <h1>About <%= shopName %>
  </h1>
  <!-- Display a paragraph describing the purpose of the shop -->
  <p>We sell all sorts of books and nothing else!</p>

</body>
</html>