<!DOCTYPE html>
<html>

<head>
  <!-- Set the title of the page, dynamically using the shopName variable -->
  <title>Register for <%= shopName %>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Display a heading with the shopName variable -->
  <h1>Register for <%= shopName %>
  </h1>
  <!-- Create a form that will be submitted to "/registered" when submitted -->
  <form method="POST" action="/registered">
    <!-- Input fields for user registration information -->
    <!-- value is what prints out-->
    <p>First name: <input id="first" type="text" name="first" value="first name" /></p>
    <p>Last name: <input id="last" type="text" name="last" value="last name" /></p>
    <p>Email: <input id="email" type="email" name="email" value="email" /></p>
    <!-- Submit button to register the user -->
    <input type="submit" value="Register" />
  </form>
</body>

</html>